{% extends "base.html" %}
{% load static %}

{% block title %}Каталог книг{% endblock %}
{% block content %}
    <div class="container">
        <div class="header">
            <h1><a href="/books">Каталог</a></h1>
        </div>
        <div class="row">
            {% for book in content.0 %}
                <div class="book col-md-4">
                    <h2>{{book.name}}</h2>
                    <p>Автор: {{book.author}}</p>
                    <p><a href="{% url 'books' book.pub_date %}">Дата публикации: {{book.pub_date}}</a></p>
                </div>
            {% endfor %}
        </div>

        {% if content.1 != None %}
            <p><a href="{% url 'books' content.1%}">{{content.1}}</a></p>
        {% endif %}

        {% if content.2 != None %}
            <p><a href="{% url 'books' content.2%}">{{content.2}}</a></p>
        {% endif %}
    </div>
{% endblock %}